body {
    background-color: snow;
}

h2 {
    font-size: 120px;
    text-align: center;
}

#todo-form input {
    border-top: none;
    border-left: none;
    border-right: none;
    background-color: unset;
    width: 500px;
    height: 60px;
}

#todo-list button {
    border-top: none;
    border-bottom: none;
    border-left: none;
    border-right: none;
    background-color: unset;
    font-size: 35px;
    margin-left: 20px;
}

#todo-list input {
    width: 80px;
    height: 20px;
}

#weather {
    text-align: center;
    font-size: 50px;
    margin-bottom: 100px;
}
li {
    list-style:none;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 20px;
}